
$primary: #ce1212;
$secondary: #f4f4f4;

@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Montserrat:ital,wght@0,100;0,200;0,300;1,100;1,200&family=Roboto:ital,wght@1,100;1,400&display=swap');

.font-primary {
  font-family: 'Amatic SC', sans-serif;
}

nav {
  .container {
    .navbar-collapse {
      ul {
        li 
        {
          font-size: 18px;
          margin: 5px;
          &:hover {
            border-bottom: 2px solid $primary;
            transition: ease 0.2s;
          }
        }
      }
    }
  }
}


#why-us {
  .icon-box {
    i {
      background-color: rgba(206, 18, 18, 0.1);
      font-size: 32px;
      width: 64px;
      height: 64px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
    }
    &:hover{
      scale: 1.1;
      transition: ease 0.3s;
      
    }
  }
}
#menu {
  .menu__img {
    max-width: 300px;
  }
}
#testimonials {
  #carousel {
    .carousel-inner {
      .carousel__img {
        border: 2px solid #ececec;
      }
      .testimonials__content {
        border-left: 5px solid $primary;
        i {
          color: $primary;
        }
        .star {
          i {
            color: #ffc107;
          }
        }
      }
    }
  }
}
#event {
  .carousel-caption {
    left: 5%;
    text-align: left;
  }
}
#counter {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../asset/img/stats-bg.jpg") center center;
  min-height: 300px;
}
#chef {
  .chef-member {
    background-color: #fff;
    border-radius: 7px;
    transition: ease 0.3s;
    &:hover {
      scale: 1.1;
    }
  }
}
#contact {
  .contact__info {
    .info__icon {
      width: 56px;
      height: 56px;
      margin-right: 15px;
      i {
        font-size: 24px;
      }
    }
  }
  .contact__form {
    background: #fff;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.08);
  }
}
footer {
  background-color: #37373f;
  color: #ececec;
  .footer__info {
    border-bottom: 1px solid #ececec;
    .info__content {
      i {
        width: 36px;
        height: 36px;
        font-size: 24px;

        padding: 5px;
      }
    }
  }
}
